<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <security>
        <authentication>
          <forms loginURL="/Home/Index" timeout="2000"/>
        </authentication>
            <authorization>
      <allow users="*"/>
      <deny users="?"/>
    </authorization>
      </security>
    </system.webServer>
  </location>
</configuration>