<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/formato.css" />
    <title>Login</title>
</head>
<body>
    @{
        if(string.IsNullOrEmpty(ViewBag.Message)){
            <div class="alert alert-warning">@ViewBag.Message</div>
        }
    }
    <form action="/Home/login" method="POST">
    <div class="form">
        <h1> Iniciar Sesion </h1>
        <input type="text" id="Nombre" autocomplete="off" required name="Nomina">
        <label for="text" class="labelNombre">
            <span class="contentNombre">Nomina</span>
        </label>
        <input type="password" id="contra" required name="contraseña">
        <label for="pass" class="labelContra">
            <span class="contentContra">Contraseña</span>
        </label>
        <button class="btn">
            <span>Confirmar</span>
        </button>
    </div>
    </form>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>