<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/formato.css" />
    <title>Login</title>
</head>
<body>
    <div class="form">
        <h1> Iniciar Sesion </h1>
        <input type="text" id="Nombre" autocomplete="off" required>
        <label for="text" class="labelNombre">
            <span class="contentNombre">Nombre</span>
        </label>
        <input type="password" id="contra" required>
        <label for="pass" class="labelContra">
            <span class="contentContra">Contraseña</span>
        </label>
        <button class="btn">
            <span>Confirmar</span>
        </button>
    </div>
    
</body>
</html>