@model IEnumerable<Escuela.Model.Profesor>
@{
        ViewData["Title"] = "Crear profesor";
        Layout="~/Views/Shared/elLayout.cshtml";
}
<h2>Crear Profesor</h2>

@using (Html.BeginForm()){
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Profesor</h4>
        <hr />
        @Html.ValidationSummary(true,"",new {@class="text-danger"})
        <div class="form-group">
                
            <div></div>
        </div>
    </div>
}
